<div class="container">
  <div class="header">
    <h1>Email Template Details</h1>
    <div class="header-actions">
      <%= link_to "Back", email_templates_path, class: "btn btn-secondary" %>
      <%= link_to "Edit", edit_email_template_path(@email_template), class: "btn btn-warning" %>
    </div>
  </div>

  <div class="template-details">
    <div class="detail-group">
      <h3>Subject:</h3>
      <p><%= @email_template.subject %></p>
    </div>

    <div class="detail-group">
      <h3>Body:</h3>
      <div class="body-preview">
        <%= simple_format(@email_template.body) %>
      </div>
    </div>

    <div class="preview-section">
      <h3>Preview for Contact:</h3>
      <%= form_with url: preview_email_template_path(@email_template), method: :get, local: true do |f| %>
        <%= select_tag :contact_id, options_from_collection_for_select(@contacts, :id, :name), 
            prompt: "Select a contact", class: "form-control" %>
        <%= f.submit "Preview", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

